@import "../../../assets/global-vars/import-variables";

.card-holder {
  display: flex;
  flex: 1 0 50%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: $clr-light;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.card-holder__body {
  display: flex;
  justify-content: center;
  align-items: center;
}
