<app-nav-bar></app-nav-bar>

<app-card-holder>
    <app-card-phrase [phraseAutor]=[mcuQuotes[0].author] [quotePhrase]=[mcuQuotes[0].phrase]>
        <!-- 
            "Thanos" -> Won't work
            'Thanos' -> Won't work
            [Thanos] -> Won't work
            "'Thanos'" -> Works!
            [mcuQuotes[1].author] -> Works!
        -->
    </app-card-phrase>
</app-card-holder>
<app-card-holder>
    <app-card-prompt></app-card-prompt>
    <app-card-phrase [phraseAutor]=[mcuQuotes[1].author] [quotePhrase]=[mcuQuotes[1].phrase]
        (acceptSendMsg)="receiveMessage($event)"
        (denySendMsg)="receiveMessage($event)"></app-card-phrase>
</app-card-holder>